<p>cat-edit works!</p>
<div class="row">
    <div class="col-md-6 mx-auto">

        <h1>Edit category</h1>
        <form #Catform="ngForm" novalidate  (ngSubmit)="onSubmit(currentobj)">

            <div class="form-group">
                <label for="catid">cat id</label>
                <input #catid="ngModel" type="number" readonly id="catid" name="catid" class="form-control" [(ngModel)]="currentobj.catid">
            </div>

            <div class="form-group">
                <label for="category">category name</label>
                <input #category="ngModel" type="text"  id="category" name="category" class="form-control" [(ngModel)]="currentobj.category">
            </div>

           
            <div class="form-group">
                <input type="submit" value="submit" />

            </div>
             
            <div class="form-group">
                <a routerLink="/catlist">back to list</a>

            </div>
        </form>
        

    </div>
</div>










