.card{

    border: none;
    width: 600px;
    text-align: center;
    position: absolute;
    font-size:larger;
    top:70%;
    left:50%;
    transform: translate(-50%,-50%);
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg,#ffd89b 0%, #19547b 100%);
}   

.form{
    text-align: left;
    color: white;
    padding-left: 110px;

}

.button{
    padding-left:50px ;
}
.form1{
    text-align: left;
    font-size: medium;
}
.button1{
    padding-left:300px ;
}