.card{
    border: none;
    width: 600px;
    text-align: center;
    position: absolute;
    font-size:larger;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg,#141e30  0%, #243b55 100%);
}   

.form{
    text-align: left;
    color: white;
    padding-left: 110px;

}

.button{
    padding-left:100px ;
}
input[type='number']
{
    width: 400px;
}
input[type='text']
{
    width: 400px;
}